{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

    <div class="Blog-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="Blogheading">
                        <h3>ژئو <span class="orange_color">بلاگ</span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5 text-center">
        <div class="row justify-content-center">
            {% for article in page_obj %}
                <div class="col-md-5 article-item">
                    <img src="{{ article.image1.url }}" alt="{{ article.title }}" style="width: 400px; height: 200px">
                    <h3 class="article-title">{{ article.title }}</h3>
                    <p class="article-author">نویسنده: {{ article.author }}</p>
                    <small class="article-meta">منتشر شده در: {{ article.created_at|date:"F d, Y" }}</small>
                    <p class="article-summary">{{ article.introduction}}</p>
                    <a href="{% url 'article_detail' slug=article.slug %}" class="orange_color">... ادامه مقاله</a>
                </div>
            {% empty %}
                <p class="no-articles">هیچ مقاله‌ای موجود نیست.</p>
            {% endfor %}
        </div>
    </div>

    <!-- Pagination Links -->
    <div style="text-align: center; margin-top: 20px;">
        {% if page_obj.has_previous %}
            <a href="?page=1">اولین</a>
            <a href="?page={{ page_obj.previous_page_number }}">قبلی</a>
        {% endif %}

        <span>صفحه {{ page_obj.number }} از {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">بعدی</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">آخرین</a>
        {% endif %}
    </div>
{% endblock %}