{% extends 'blog/base.html' %}

{% block content %}

    <div style="display: flex; width: 80%; margin: auto; height: 80vh; align-items: center; justify-content: center;">

        <!-- بخش تصویر با باکس -->
        <div style="width: 50%; display: flex; justify-content: center;">
            <div style="background-color: #001f3f; padding: 15px; border-radius: 10px;
                        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); text-align: center;">
                <img src="{{ news.image.url }}" alt="{{ news.title }}"
                     style="width: 600px; height: 400px; border-radius: 10px; object-fit: cover;">
            </div>
        </div>

        <!-- بخش متن خبر با باکس -->
        <div style="width: 50%; display: flex; flex-direction: column; align-items: center; justify-content: center;">
            <div style="background-color: #fff; padding: 20px; border-radius: 10px;
                        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); width: 90%; text-align: center;">

                <!-- عنوان و تاریخ در یک باکس مجزا -->
                <div style="background-color: #f1f1f1; padding: 10px; border-radius: 10px;
                            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); margin-bottom: 15px;">
                    <h2 style="margin: 0;">{{ news.title }}</h2>
                    <small style="color: gray; display: block;">{{ news.created|date:"Y/m/d" }} : تاریخ خبر </small>
                </div>

                <p style="width: 100%; text-align: justify; margin-top: 10px;">{{ news.body }}</p>

                <!-- دکمه‌های اشتراک‌گذاری و چاپ -->
                <div style="margin-top: 30px;">
                    <a href="https://t.me/share/url?url={{ request.build_absolute_uri }}"
                       target="_blank"
                       style="text-decoration: none; background-color: #0088cc; color: white; padding: 10px 15px; border-radius: 10px; margin-right: 10px;">
                        <i class="fa fa-telegram"></i> اشتراک‌گذاری
                    </a>

                    <button onclick="window.print()"
                            style="background-color: #333; color: white; padding: 6px 25px; border: none; border-radius: 10px; cursor: pointer;margin-left: 10px;">
                        <i class="fa fa-print"></i> چاپ خبر
                    </button>
                </div>
            </div>
        </div>

    </div>

{% endblock %}